#terminal {
    background-color: black;
    border: 1px solid grey;

}

#code {
    color: lime;
}

a:link,
a:visited {
    color: lime
}

/* mouse over link */
a:hover {
    color: #00ffff;
}

/* Style the input fields */
.form-inline input {

    background-color: black;
    color: lime;

}

.tab {
    background-color: #1f1f21;
    color: white;
}

.active-tab {
    background-color: #171718;
    color: white;
}

body {
    background-color: #181818;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f5f5f5;
    }

    #terminal {
        background-color: white;
    }

    #code {
        background-color: white;
        color: black;
    }

    .active-tab {
        background-color: lightgrey;
        color: black;
    }

    .tab {
        background-color: #f5f5f5;
        color: black;
    }

    .form-inline input {
        background-color: white;
        color: black
    }

    a:link,
    a:visited {
        color: black;
    }

    a:hover {
        color: hotpink;
    }

}   