#terminal {
    background-color: #282727;
    padding: 10px;
    border: 1px solid #ebdab1;
    display: table;
    position: absolute;
    height: 50%;
    width: 50%;
    border-radius: 10px;

}

hr {
    color: #ebdab1;
}

#code {
    font-family: monospace;
    color: #ebdab1;
    font-size: 17px;
}

#syntax {
    color: #98961a
}

#dir {
    color: #b06185
}

#ls-dir {
    color: #458487;
}

a:link,
a:visited {
    text-decoration: none;
    color: #ebdab1
}

/* mouse over link */
a:hover {
    color: #d55c0e;
}

/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    background-color: #282727;
    color: #d55c0e;
    font-family: monospace;
    font-size: 17px;
    border: none;
    border-color: transparent;
    font-style: italic;
}

.dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
}

.tab {
    background-color: #282727;
    color: white;
    font-family: monospace;
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
}

.active-tab {
    background-color: #616060;
    border: 1px solid #ebdab1;
    color: white;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
    border-radius: 5px;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282727;
}